-# frozen_string_literal: true
= simple_form_for(@user) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :name
    = f.input :email
    = f.input :password
    = f.input :password_confirmation

  .form-actions
    %d-grid{class:"gap-2 d-md-flex justify-content-md-start"}
      = f.button :submit ,{class:"btn btn-dark mt-2"}
      = link_to 'Back',"/feed/#{session[:user_id]}" ,class:"btn btn-secondary sm mt-2 ",style:"color:white"
